{% extends 'base.html' %}{% load static %}{% block content %}
<div class="container-fluid" style="background-color:black">
    <div style="display:flex;justify-content:center;">
        <div id=" carouselExampleSlidesOnly " class="carousel slide " data-bs-ride="carousel ">
            <div class="carousel-inner ">
                <div class="carousel-item active ">
                    <img src="{{movies.0.image_path}} " class="img-fluid " width="500px " alt="... ">
                </div>
                <div class="carousel-item ">
                    <img src="{{movies.1.image_path}} " class="img-fluid " width="500px " alt="... ">
                </div>
                <div class="carousel-item ">
                    <img src="{{movies.2.image_path}} " class="img-fluid " width="500px " alt="... ">
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row grid" data-masonry='{"percentPosition": true }'>
            {% for movie in movies %}
            <div class="col-sm-3 col-xs-3 col-md-3">
                <img class="img-thumbnail " src="{{movie.image_path}} ">
                <p class="card-text ">{{movie.title}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}